<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">

    <title>@ViewData["Title"] - PoolIt</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-gray">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">PoolIt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cars</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Cars" asp-action="Index">My cars</a>
                        <a class="dropdown-item" asp-controller="Cars" asp-action="Create">Add a car</a>
                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="sticky-footer bg-gray">
    <div class="container">
        <span class="text-muted">
            <i class="far fa-copyright"></i> Copyright 2018 PoolIt.
            <span class="d-none d-md-inline">Licensed under GPL v3.0</span>
        </span>
        <a class="float-right" href="https://github.com/martinmladenov/PoolIt">
          <i class="fab fa-github"></i>
          Source
        </a>
    </div>
</footer>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-select.min.js"></script>

<partial name="_ValidationScriptsPartial"/>

@RenderSection("Scripts", required: false)
</body>
</html>