@if (User.Identity.IsAuthenticated)
{
    <form asp-area="Account" asp-controller="Authentication" asp-action="Logout" method="post" id="logoutForm">
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </form>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Account" asp-controller="Authentication" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Account" asp-controller="Authentication" asp-action="Login">Login</a>
    </li>
}