@model PoolIt.Web.Areas.Rides.Models.Ride.SearchBindingModel

<div class="card card-body text-center">
    <h2 class="card-title">Find a ride</h2>

    <form asp-area="Rides" asp-controller="Rides" asp-action="Search" method="get">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group w-50 mx-auto">
            <label asp-for="From"></label>
            <div class="input-group">
                <input id="fromField" class="form-control" asp-for="From"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary"
                            onclick="fillLocation('#fromImage', '#fromField')">
                        <i id="fromImage" class="fas fa-crosshairs"></i>
                    </button>
                </div>
            </div>
            <span asp-validation-for="From" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>