@page

@{
    ViewData["Title"] = "404 Not Found";
    Layout = "_BubblesLayout";
}

<i class="fas fa-search fa-5x fa-spin mb-5"></i>
<h2>404 Not Found</h2>
<a href="javascript:window.history.back();" class="btn btn-primary p-4 mt-5 w-50">Go back</a>
