@model IEnumerable<RideListingViewModel>

@{
    ViewData["Title"] = "Browse";
}

<div class="mx-auto my-4 text-center pb-3">
    <h2>@ViewData["Title"]</h2>
    <hr>
    <partial name="Rides/_RideListingPartial" model="@Model"/>

    @if (!Model.Any())
    {
        <p class="text-muted">There are no rides available.</p>
    }
    <a class="btn btn-outline-primary" asp-controller="Rides" asp-action="Create">Organise a ride</a>

</div>