@model SearchBindingModel

@{
    ViewData["Title"] = Model?.From != null ? $"Rides from {Model.From}" : "Search rides";
    Layout = "_Layout";
}

<div class="mt-3">
    <partial name="Rides/_SearchPartial" model="@Model"/>
</div>

@if (Model?.FoundRides != null)
{
    <div class="mx-auto my-4 text-center pb-3">
        <h2>@ViewData["Title"]</h2>
        <hr>
        <partial name="Rides/_RideListingPartial" model="@Model.FoundRides"/>

        @if (!Model.FoundRides.Any())
        {
            <p class="text-muted">No rides starting from @Model.From were found.</p>
        }
        <a class="btn btn-outline-primary" asp-controller="Rides" asp-action="Create">Organise a ride</a>

    </div>
}

@section Scripts {
    <script src="~/js/location.js"></script>
}