@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

@section UnderNavbar {
    <header>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url('/img/home-1.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Carpooling</h1>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/img/home-2.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Save money</h3>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/img/home-3.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Meet new people</h3>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/img/home-4.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Help the environment</h3>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/img/home-5.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Visit new places</h3>
                    </div>
                </div>


            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
}

<div class="mx-auto my-4 text-center pb-3">

    @if (!User.Identity.IsAuthenticated)
    {
        <h1>Welcome to PoolIt!</h1>
        <a class="btn btn-primary py-3 px-5 m-4" asp-area="Account" asp-controller="Authentication" asp-action="Register">Register</a>
        <a class="btn btn-outline-primary py-3 px-5 m-4" asp-area="Account" asp-controller="Authentication" asp-action="Login">Login</a>
    }
    else if (Model.MyRides?.Any() ?? false)
    {
        <h3>My rides</h3>
        <partial name="Rides/_MyRidesPartial" model="@Model.MyRides"/>
    }

    <partial name="Rides/_SearchPartial" model="@null"/>
</div>

@section CustomCss {
    <link rel="stylesheet" href="~/css/home.css">
}

@section Scripts {
    <script>
        $('#carousel').carousel({
            interval: 5000,
            pause: false
        });
    </script>

    @await Html.PartialAsync("_LocationScriptPartial")
}